<div class="o-chatbot" [ngClass]="{'o-chatbot--pinned': pinned}" [ngStyle]="{'height':!pinned ? height + 'px' : '', 'width':pinned ? width + 'px' : ''}">
  <div class="o-chatbot__content" *ngIf="!pinned || (pinned && isOpen)">
    <div class="o-chatbot__header u-bg-primary u-text-xlight" [ngClass]="{'o-chatbot__header--no-title': !title}">
      <h1 class="h6 has-base-font u-text-bold u-margin-xs" *ngIf="title">{{ title }}</h1>
      <button class="a-button has-icon" *ngIf="pinned" (click)="toggleChatbot()"><i class="fa fa-close"></i></button>
    </div>
    <div class="o-chatbot__main" #chatbotMain [scrollTop]="chatbotMain.scrollHeight">
      <div *ngIf="data && data.length > 0" class="u-margin-xs" aria-live="assertive">
        <ng-container *ngFor="let message of data">
          <aui-chatbot-message [data]="message" (replyClicked)="sendReply($event)" (actionClicked)="performAction($event)"></aui-chatbot-message>
        </ng-container>
        <div *ngIf="isLoading" class="o-chatbot__loader">
          <div class="a-avatar a-avatar--small" *ngIf="!loadingIndex">
            <img [src]="avatar" alt="Avatar.">
          </div>
          <span>...</span>
        </div>
      </div>
    </div>
    <div class="o-chatbot__footer">
      <div class="o-chatbot__input a-input">
        <input #messageInput type="text" name="chat-input" autocomplete="off" [placeholder]="placeholder" [(ngModel)]="message.message" [disabled]="disableChatbotByAction !== ''" (keyup.enter)="sendMessage()" />
        <button type="submit" class="a-button has-icon" [disabled]="disableChatbotByAction !== ''" (click)="sendMessage()">
          <i class="fa fa-send-o"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="o-chatbot__buttons" *ngIf="pinned && !isOpen">
    <button (click)="toggleChatbot()" class="a-button has-icon-left"><i class="fa fa-comments"></i>Een vraag stellen</button>
  </div>
</div>
