@import '~@a-ui/core/dist/assets/styles/_quarks.scss';

.o-chatbot {
  &__content {
    background-color: $white;
    border: 1px solid $border-color;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    max-height: 100vh;
  }

  &__buttons {
    float: right;
  }

  /**
   * Elements
   */

  &__header {
    align-items: center;
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    min-height: $spacer * 2;
  }

  &__main {
    flex: 1;
    min-height: $spacer * 5;
    overflow: auto;
  }

  &__loader {
    span {
      display: inline-block;
      font-size: 2rem;
      height: $spacer;
      margin-bottom: $spacer-sm;
    }
  }

  &__footer {
    border-top: 1px solid $border-color;
  }

  &__input {
    display: flex;

    input {
      flex: 1 1 auto;
    }
  }

  /**
   * Modifiers
   */

  &--pinned {
    bottom: 0;
    left: $spacer;
    position: fixed;
    right: $spacer;

    .o-chatbot__content {
      border-bottom: none;
      height: 75vh;

      @include at($screen-xs) {
        max-height: $spacer * 20;
      }
    }

    @include at($screen-xs) {
      left: auto;
      width: $spacer * 12;
    }
  }
}
