<div class="u-margin-lg">
  <header>
    <h1 class="h4">Chatbot Smart Widget Playground</h1>
  </header>
  <div class="main u-margin-top-lg">
    <aui-chatbot
      [url]="'http://localhost:3000/api/chatbot/afvalstickers'"
      [session]="'1234'"
      [title]="'My chatbot'"
      [placeholder]="'Type your message here…'"
      [pinned]="false"
      [delay]="200"
      [height]="400">
    </aui-chatbot>
  </div>
  <div class="main u-margin-top-lg">
    <aui-chatbot
      [url]="'http://localhost:3000/api/chatbot/afvalstickers'"
      [session]="'abcd'"
      [placeholder]="'Typ hier iets anders…'"
      [pinned]="true">
    </aui-chatbot>
  </div>
</div>
