<div class="u-margin">
  <header>
    <h1 class="h4">Chatbot Smart Widget Playground</h1>
  </header>
  <div class="main u-margin-top-lg" role="main">
    <aui-chatbot
      #myExampleChatbot
      [url]="'http://localhost:3000/api/chatbot'"
      [session]="session1"
      [title]="'Example chatbot'"
      [placeholder]="'Start typing here…'"
      [pinned]="false"
      [delay]="1000"
      [height]="500"
      [aria]="aria"
      (actionStarted)="performAction($event)">
    </aui-chatbot>

    <div class="u-margin-top">
      <button *ngIf="showActionButton" (click)="completeAction()" class="a-button a-button--success">Complete action</button>
    </div>
  </div>
</div>
