@import '~@a-ui/core/dist/assets/styles/_quarks.scss';

.m-message {
  &__content {
    display: flex;
    margin: 0 $spacer $spacer-sm 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;

    > span {
      animation: pop .2s ease-out;
      display: inline-block;
    }

    .a-button {
      display: inline-block;
      margin-bottom: $spacer-xs / 2;
      width: auto;
    }
  }

  /**
   * Components
   */

  &__text,
  &__url {
    background-color: $grey-lighter;
    padding: $spacer-xs $spacer-sm;
  }

  &__error {
    background-color: mix($state-danger, $white, 10%);
    padding: $spacer-xs $spacer-sm;
  }

  &__radio {
    margin-bottom: $spacer-xs / -2;
  }

  /**
   * Modifiers
   */
  .m-message--center {
    justify-content: center;
    text-align: center;
  }

  .m-message--right {
    justify-content: flex-end;
    margin: 0 0 $spacer-sm $spacer;
    text-align: center;

    .m-message__text {
      background-color: mix($brand-primary, $white, 10%);
    }
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
