<div class="m-message" [ngClass]="{'m-message--right': data.send, 'm-message--center': data.type === 'radio' || data.type === 'error'}" *ngIf="!data.hide">

  <div *ngIf="!data.send && data.avatar" class="a-avatar a-avatar--small">
    <img [src]="data.avatar" alt="Avatar">
  </div>

  <div [ngSwitch]="data.type" class="m-message__content">

    <span *ngSwitchCase="'text'" class="m-message__text" tabindex="0">
      {{ data.message }}
    </span>

    <span *ngSwitchCase="'url'" class="m-message__url">
      <a *ngIf="data.message" [href]="data.url" target="_blank" rel="external">{{ data.message }}</a>
      <a *ngIf="!data.message" [href]="data.url" target="_blank" rel="external">{{ data.url }}</a>
    </span>

    <span *ngSwitchCase="'image'" class="m-message__image" tabindex="0">
      <img [src]="data.image" alt="">
    </span>

    <span *ngSwitchCase="'radio'" class="m-message__radio">
      <ng-container *ngFor="let element of data.elements">
        <button (click)="sendReply(element.replyText)" class="a-button a-button--small">{{ element.text }}</button>
      </ng-container>
    </span>

    <span *ngSwitchCase="'error'" class="m-message__error u-text-danger" tabindex="0">
      {{ data.message }}
    </span>

  </div>
</div>
