@import '~@a-ui/core/dist/assets/styles/_quarks.scss';

$border-radius: $spacer-xs;

.m-message {
  align-items: flex-start;
  display: flex;
  margin: 0 $spacer 0 0;

  &__content {
    display: flex;
    margin: 0 0 $spacer-xs $spacer-xs / 2 * 7; // 0 0 12px 42px
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;

    > span {
      animation: pop .2s ease-out;
      display: inline-block;
    }

    .a-button {
      display: inline-block;
      margin: 0 $spacer-xs / 4 $spacer-xs / 2;
      width: auto;
    }
  }

  /**
   * Components
   */

  &__text,
  &__image,
  &__url {
    background-color: $grey-lighter;
    border-radius: $border-radius;
    border-bottom-left-radius: 0;
    padding: $spacer-xs / 6 * 5 $spacer-sm / 9 * 7; // 10px 14px
  }

  &__image {
    padding: $spacer-sm / 9 * 7;

    img {
      max-width: 100%;
    }
  }

  &__error {
    background-color: mix($state-danger, $white, 10%);
    padding: $spacer-xs / 6 * 5 $spacer-sm / 9 * 7; // 10px 14px => min-height = 36px
  }

  &__radio {
    margin-bottom: $spacer-xs / -2;
  }

  /**
   * Modifiers
   */
  &--center {
    justify-content: center;
    margin: 0;
    text-align: center;
  }

  &--right {
    justify-content: flex-end;
    margin: 0 0 0 $spacer;
    text-align: left;

    .m-message__text {
      background-color: mix($brand-primary, $white, 10%);
    }

    .m-message__text,
    .m-message__image,
    .m-message__url {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: 0;
    }
  }

  &--center,
  &--left {
    .m-message__content {
      margin-left: 0;
    }
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
